<% provide(:title, "Make No Small Plans") %>
<div class="jumbotron">
	<h1>People make the best guide books.</h1>
	
	<h2>
	  Welcome. You said the magic words.
	</h2>

	<p>
		Soon, you'll be able to <em>get yours</em> or <em>be one</em>
	</p>

	<%= link_to "Create User", signup_path, class: "btn btn-large btn-primary" %> 
</div>